.about-container {
  color: white;
  font-family: Montserrat;
  // max-width: 95% !important;
  // padding: 50px 50px;
  // border: 1px rgba(255, 255, 255, 0.5) solid;
  // height: 70vh;
  margin-top: 20px;
  max-width: 95%;
  .border {
    border: 1px rgba(255, 255, 255, 0.5) solid;
    padding: 75px 50px 50px;
  }


  

}