.about-container {
  color: white;
  font-family: Montserrat;

  margin-top: 80px;
  max-width: 95%;
  .border {
    border: 1px rgba(255, 255, 255, 0.5) solid;
    padding: 75px 50px 50px;
  }


  

}