.underline--magical {
  background-image: linear-gradient(120deg, rgb(0, 206, 209) 0%, #003a4a 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

.turquoise {
  color:  rgb(0, 206, 209);
}

.bold {
  font-weight: 700;
}

.list-circle {
  list-style: circle;
}

.uppercase {
  text-transform: uppercase;
}

.center-col {
  display: table;
  margin: auto;
}

.white {
  color: white;
}

h1 {
  &.title {
    color: #e8e8e8;
    font-weight: 700;
    text-transform: uppercase;
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)) );;
  }
}





