.navigation {
  font-family: 'PT Mono', monospace;
  width: 100%;
 
  &.fixed {
      position: fixed;
      z-index: 1000;
      background-color: #002731 !important;
    }

  .nav-link {
    color: white;
    position: relative;
    padding: 1rem 1.5rem;
    &:focus {
      color: white;
    }
    &:hover {
      color: rgb(245, 245, 245);

      &::after {
          width: 80%;
      } 
  }
    &::after {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #00CED1;
      color: transparent;
      width: 0%;
      content: ".";
      height: 2px;
      transition: all 0.5s;
  }

    }
}
